.content {
    height: 80%;
    width: 100%;
    @include flex($direction: column);
    gap: 30px;

    &.disappiar {
        animation: disappiar-center 500ms linear;
    }

    &__head {
        @include text-header();
        color: $main-color;
    }

    &__home {
        @include flex($direction: column);
        gap: 40px;

        & .btn-text {
            width: 100%;
            height: auto;
            min-height: 62px;
            padding: 10px 60px;
        }
    }

    &__cards {
        @include flex($wrap: wrap, $align: flex-start);
        overflow: auto;

        gap: 20px;
        width: 100%;
        height: 100%;

        @media screen and (min-width: $desc) {
            gap: 40px;
        }
    }

    &__table {
        width: 100%;
        max-width: 800px;
        border: 1px #666666 solid;
        border-collapse: collapse;
        @include text-header($size: 18px, $line-height: 16px);
        color: $main-color;

        & th,
        & td {
            padding: 5px 10px;
            border: 1px #666666 solid;
            border-collapse: collapse;
        }

        & img {
            width: 30px;
            height: 30px;
        }
    }
}

@keyframes disappiar-center {
    from {
        transform: scale(100%);
    }
    to {
        transform: scale(0);
    }
}