.login {
    position: absolute;
    top: 0;
    right: -50px;
    z-index: 3;
    background-color: $main-color;
    width: 400px;
    height: 200px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    color: $dark-color;
    
    &__show {
        animation: show-login 500ms linear;
    }

    & .btn-text-login,
    & .btn-text-logout,
    & .btn-text-register {
        margin-top: 40px;
        padding: 10px 15px;
        height: 40px;
        width: 45%;
        box-sizing: border-box;
        background-color: $second-color;
    }

    & input {
        width: 47%;
        @include text-header($size: 18px)
    }

    &__wrap {
        @include flex();
        gap: 20px;
    }

    &__message {
        text-align: left;
        margin-bottom: 20px;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        transform: scale(80%);
    }
}

@keyframes show-login {
    from {
        transform: scale(0);
        transform: translate(400px, -200px);
    }
    to {
        transform: scale(100);
        transform: translate(0, 0);
    }
}