.modal {
    @include flex ($direction: column);
    gap: 20px;
    @include text-header();
    width: 100%;
    height: 100%;    
    box-sizing: border-box;
    padding: 40px;
    padding-top: 60px;
    background-color: $main-color;
    border-radius: 20px;
    color: $dark-color;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 4;
        background-color: #E5E5E5;
        opacity: 0.7;
        transition: 500ms;
    }

    &__wrapper {
        @include flex;
        position: absolute;
        width: 90vw;
        height: 90vh;
        z-index: 5;
        top: calc( ( 100vh - 90vh ) / 2 );
        left: calc( ( 100vw - 90vw ) / 2 );

        animation: center-appiar 500ms linear;

        @media screen and (min-width: $tablet) {
            width: 520px;
            height: 690px;
            top: calc( ( 100vh - 690px ) / 2 );
            left: calc( ( 100vw - 520px ) / 2 );
        }

        @media screen and (min-width: $desc) {
            width: 980px;
            height: 80vh;
            top: calc( ( 100vh - 80vh ) / 2 );
            left: calc( ( 100vw - 980px ) / 2 );
        }
    }

    &__img-wrapper {
        position: relative;
        width: 100%;
        height: 70%;
        box-sizing: border-box;
        display: flex;
        align-content: center;
        justify-content: center;

        & img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &__buttons {
        @include flex ();
        gap: 20px;
        width: 100%;
    }

    & .btn-text {
        border-color: $dark-color;
        color: $dark-color;
        width: 100%;
        max-width: 400px;

        &:hover,
        &:focus {
            background-color: $second-color;
            border-color: $second-color;
            color: $dark-color;
            transition: 500ms;
        }
        
        &:active,
        &--active {
            background-color: $main-color;
            border-color: $second-color;
            color: $dark-color;
            transition: 500ms;
        }
    }

}

.right-answer::before,
.wrong-answer::before {
    content: '';
    position: absolute;
    left: 46%;
    bottom: 10px;
    z-index: 3;
    @include bg-img($x: 50px);
}

.right-answer::before {
    background-image: url(../assets/images/vector/check-true.svg);
}

.wrong-answer::before {
    background-image: url(../assets/images/vector/check-false.svg);
}

.modal-none{
    animation: left-disappiar 500ms linear;
}

@keyframes center-appiar {
    from {
        transform: scale(0);
    }
    90% {
        transform: scale(105%);
    }
    to {
        transform: scale(100%);
    }
}

@keyframes left-disappiar {
    from {
        transform: scale(100%);
    }
    50% {
        left: 0;
        transform: scale(50%);
    }
    100% {        
        left: -100vw;
        transform: scale(0);
    }
}