.header .navigation {
    @include flex ($justify: space-around);
    flex-grow: 2;
    width: 100%;
    max-width: 600px;
   

    @media screen and (max-width: $tablet) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 75px;
        z-index: 5;
        box-sizing: border-box;
        border: 1px solid $main-color;
        border-radius: 20px 20px 0px 0px;
        background-color: $bg-color;

        &__list {
            @include flex ($justify: space-around);
            gap: 20px;
            width: 80%;
        }

        &__link {
            @include text-header ($size: 14px, $line-height: 18px);
        }

        &__item {
            position: relative;
            padding-top: 30px;
        }

        &__item {

            &::before {
                @include bg-img ();
                content: '';
                position: absolute;
                top: 0;
                height: 28px;
                width: 100%;
            }
            
            &--home::before {
                background-image: url(../assets/images/vector/home.svg);
            }

            &--cat::before {
                background-image: url(../assets/images/vector/category.svg);
            }

            &--stat::before {
                background-image: url(../assets/images/vector/star-line.svg);
            }
        }
    }

    &__list {
        @include flex ($justify: space-around);
        width: 100%;
        max-width: 500px;
        gap: 20px;

        &:first-child {
            margin-left: auto;
            flex-grow: 2;
        }

        &:last-child {
            margin-right: auto;
            flex-grow: 2;
        }
    }

    @media screen and (max-width: 800px) and (min-width: $tablet) {
        &__list {
            flex-direction: column;
            max-height: 160px;
            gap: 5px;
        }
    }

    &__link {
        @include text-header ($size: 22px, $line-height: 18px);
    }

    @media screen and (max-width: $desc) {
        &__link {
            font-size: 18px;
        }
    }

}

.navigation {
    width: 100%;

    &__list {
        width: 100%;
        @include flex ($justify: center);
        gap: 40px;
    
    }
}
