.settings {
    @include flex($direction: column);
    position: absolute;
    width: 100vw;
    height: 87vh;
    top: 0;
    left: 0;
    z-index: 5;
    box-sizing: border-box;
    padding: 4vw 4vh;
    background-color: $bg-color;

    & .btn-close {
        position: absolute;
        top: 4vh;
        right: 4vw;
        z-index: 6;

    }

    &__header {
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    &__head {
        @include text-header ($size: 24px);
        color: $main-color;
    }

    &__form {
        @include flex($direction: column, $justify: space-evenly, $align: center);
        width: 100%;
        height: 90%;

        & .settings__head {
            @include text-header($size: 30px, $weight: bold);
            
            margin-top: auto;
            margin-bottom: 20px;
            text-align: center;
        }

    }
    
    &__wrap {
        @include flex ($justify: space-evenly);
        gap: 10px;
        max-width: 250px;

        &:last-child {
            margin-top: auto;
        }

    }
    
    & .btn-text {
        padding: 20px 20px;
        max-width: 160px;
    }

    @media screen and (min-width: $tablet) {
        width: 520px;
        height: 580px;
        top: 0;
        right: 0;
        left: auto;
        border-bottom-left-radius: 10px;
    }

}